.logo {
    width: 228px;
    height: 32px;
  }
  .logo_place_header {
    position: absolute;/*блоки с конкретным позиционированием нельзя формировать в структуре по бэму, т.к в других проектах его придется менять, потому что он не в станет*/
    left: 64px;
    top: 30px;
    z-index: 3;
    margin: 0;
  }