.logo_place_footer {
  position: absolute; /*блоки с конкретным позиционированием нельзя формировать в структуре по бэму, т.к в других проектах его придется менять, потому что он не в станет*/
  left: 64px;
  top: 30px;
}
