.kaufman__triangle {
    background-image: url(../images/kaufman-triangle.svg);
    position: absolute;/*блоки с конкретным позиционированием нельзя формировать в структуре по бэму, т.к в других проектах его придется менять, потому что он не в станет*/
    top: 0;
    background-size: cover;
    right: -210px;
    z-index: 0;
    width: 877px;
    height: 877px;
    overflow: hidden;
  }